:root{
    --white: #ffffff;
    --pink-600: #CA6563;
    --rubi-700:#611e1d;
    --gray-800: #202024;
    --gray-900: #FFEDE7;
    --pale-500:#ffffff;
    --green-200:#84af7a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smothing: antialiased;
}

body,input,textarea, button{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 1rem;
    
}